{% extends "index.html" %}

  {% block Title %}
  <title>Filtro de ventas</title>
  {% load humanize %}

  {% endblock Title %}
  {% block Content %}
    <div class="contenedor">
      
      <h1>Filtrar ventas por Fecha</h1>
      <div class="filtroVentas">

        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="boton-buscar btn btn-primary" type="submit">Buscar</button>
        </form>
      </div>
      
      <h2>Ventas</h2>
    <ul class="ulFiltro">
        <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Direccion</th>
            <th scope="col">Altura</th>
            <th scope="col">Producto</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          {% if eventos %}
          {% for evento in eventos %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{evento.direccion}}</td>
            <td>{{evento.piso}}{{evento.departamento}}</td>
            <td>{{evento.descripcion}}</td>
            <td>${{evento.total|intcomma}}</td>
              </tr>
              {% empty %}
              <li>No hay eventos para esta fecha.</li>
              {% endfor %}
              {% endif %}
            </tbody>  
          </table>
        </ul>
        {% if suma_precio_formateado %}
        <p>El total es ${{suma_precio_formateado}}</p>
        {% else %}
        <p>No hay nada para mostrar</p>
      
        {% endif %}
</div>

    {% endblock Content %}
    {% comment %} <script>
      $(document).ready(function(){
          $('#datepicker').datepicker({
              format: 'mm-dd-yyyy',  // Cambia el formato si es necesario
              autoclose: true
          });
      });
  </script> {% endcomment %}