{% extends "index.html" %}
{% block Title %}
<title>Pedidos</title>
{% endblock Title %}
{% block Content %}


    <div class="contenedor">
        <div>
            <div class="contenedor__productos">
                
                {% for products in productos  %}
                <div class="productos">
                    <div class="d-flex">
                        
                        <p class="{{products.nombre}}" valor="{{products.precio}}">
                            {{products.nombre}}
                        </p>
                        <p class="{{products.precio}}">
                            {{products.precio}}
                        </p>
                        <a href={% url "editar" products.id %}><span class="material-symbols-outlined">
                            edit
                            </span></a>
                    </div>
                    <div>
                        
                        <button class="decrementar">-</button>
                        <input type="number" name="cantidad"class="cantidad" valor="{{products.precio}}" id="{{products.nombre}}" styles="width: 20px;" value="{{products.cantidad}}">
                        <button class="incrementar">+</button>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button id="boton" class="btn btn-primary">Agregar Pedido</button>
            <a href="{% url "productos" %}"class="btn btn-danger">Limpiar</a>
            
            
            <form id="formulario" class="loginform" method="POST" enctype=multipart/form-data>
                <h1 class="datosClientH1">Ingresar datos de cliente</h1>
                {% csrf_token%}
                {{formulario.as_p}}
                <ul class="lista">
                    
                </ul>
                <input class="btn btn-primary"  type="submit" value="Agregar">
            </form>
        </div>
    </div>
    {% endblock Content %}